<div style="background-color: yellow">
	<h3>NOTES FOR DEMONSTRATION</h3>
	<ol>
	</ol>
</div>

<div>
	Company: <%= @company.name %><br>
	Role: <%= @vacancy.name %><br>
	Description: <%= @vacancy.description %><br>
	Department: <%= @vacancy.department %><br>
	Quantity Needed: <%= @vacancy.quantity %><br>
</div>

<div>
	<h4>Well done. Now, build the right pool for this vacancy!</h4>
	<div>
		Search Tags

		<div>
			<h4>Total candidates matching filters: <%= @jobseekers.count %></h4>

			<div>

			</div>

			<ol>Filters in action!</ol>
				<li>Someone who is based in <%= @company.state.name %></li>
				<li>Someone with at least 1 working experience in <%= @company.industry.name %></li>
		</div>

		<br>
		<br>
		<br>
	</div>
		<div>
			<% @jobseekers.each do |jobseeker|%>
				<div>
					Candidate Number: <%= jobseeker.id %><br>
					Last Activity: <%= jobseeker.created_at.to_date %><br>
					Degree in: <%= jobseeker.degree %><br>
					University: <%= jobseeker.university %><br>
					Latest CGPA: <%= jobseeker.cgpa %><br>
					Location: <%= jobseeker.location %><br>
					Prefers to work in <%= jobseeker.pref_size %> company<br>
					Prefers to work  in <%= jobseeker.pref_hours %> hours<br>
					Has worked for companies in:
						<li><%= jobseeker.we1 %></li>
						<li><%= jobseeker.we2 %></li>
						<li><%= jobseeker.we3 %></li>
					Knowledge Score: <%= jobseeker.knowledge_score %>%<br>
					Skill Score: <%= jobseeker.skill_score %>%<br>
					Activity Score: <%= jobseeker.activity_score %>%<br>
					<br>
					<div>
						Preview Profile (link to user profile) <br>
						Add to Interview Pool (action button)
					</div>
				</div>
				<br>
				<br>
				<br>
			<% end %>
		</div>
</div>

