<div style="background-color: yellow">
	<h3>NOTES FOR DEMONSTRATION</h3>
	<ol>
	</ol>
</div>

<h3>Company Profile</h3>
<div>
	Name: <%= @company.name %><br>
	State: <%= @company.state.name %><br>
	Industry: <%= @company.industry.name %><br>
</div>

<h3>Vacancy Details</h3>
<div>
	Role: <%= @vacancy.name %><br>
	Description: <%= @vacancy.description %><br>
	Department: <%= @vacancy.department %><br>
	Quantity Needed: <%= @vacancy.quantity %><br>
</div>

<div>
	<h4>Well done. Now, build the right pool for this vacancy!</h4>
	<div style="background-color: yellow">
		<h3>NOTES FOR DEMONSTRATION</h3>
		<ol>
			<li>Recruiter can use all the filtering abilities to find the right person before they add who they like into the cart</li>
			<li>They are many more filtering. This demo only showed based on 4 areas</li>
			<li>Key to the filtering is fast and multidimensional. Demo product is a basic one which is 1 dimensional</li>
		</ol>
	</div>
	<div>
		Search Tags

		<div>
			<h4>Total candidates matching filters: <%= @jobseekers.count %></h4>

			<div>

			</div>

			<ol>Filters in action!
				<li>Someone who is based in <%= @company.state.name %></li>
				<li>Someone with any working experience related to: <%= @company.industry.name %></li>
				<% if params[:degree] %>
					<li> Someone with a degree in <%= Industry.find(params[:degree]).name %> </li>
				<% end %>
				<% if params[:knowledge] %>
					<li> Someone with high knowledge in <%= Topic.find(params[:knowledge]).name %> </li>
				<% end %>
				<% if params[:skill] %>
					<li> Someone with high skill in <%= Skill.find(params[:skill]).name %> </li>
				<% end %>
				<% if params[:activity] %>
					<li> Someone with big involvement in <%= Activity.find(params[:activity]).name %> </li>
				<% end %>
			</ol>

			<div>
				<!-- Search by advanced filters -->
				<div>
					<h4>Degree:</h4>
						<% @degrees.each do |degree| %>
							<%= form_tag vacancy_path(params[:id]), :method => "get" do %>
								<%= hidden_field_tag  :degree, degree.id %>
								<%= submit_tag degree.name, :name => nil %>
							<% end %>
						<% end %>
				</div>

				<div>
					<h4>Top Knowledge:</h4>
						<% @knowledges.each do |knowledge| %>
							<%= form_tag vacancy_path(params[:id]), :method => "get" do %>
								<%= hidden_field_tag  :knowledge, knowledge.id %>
								<%= submit_tag knowledge.name, :name => nil %>
							<% end %>
						<% end %>
				</div>

				<div>
					<h4>Top Skill:</h4>
						<% @skills.each do |skill| %>
							<%= form_tag vacancy_path(params[:id]), :method => "get" do %>
								<%= hidden_field_tag  :skill, skill.id %>
								<%= submit_tag skill.name, :name => nil %>
							<% end %>
						<% end %>
				</div>

				<div>
					<h4>Top Activity:</h4>
						<% @activities.each do |activity| %>
							<%= form_tag vacancy_path(params[:id]), :method => "get" do %>
								<%= hidden_field_tag  :activity, activity.id %>
								<%= submit_tag activity.name, :name => nil %>
							<% end %>
						<% end %>
				</div>
			</div>

		</div>

		<br>
		<br>
		<br>
	</div>

	<div>
		<% @jobseekers.each do |jobseeker|%>
			<div>
				Candidate Number: <%= jobseeker.id %><br>
				Last Activity: <%= jobseeker.created_at.to_date %><br>
				Degree in: <%= jobseeker.degree.name %><br>
				University: <%= jobseeker.university.name %><br>
				Latest CGPA: <%= jobseeker.cgpa %><br>
				Location: <%= jobseeker.location.name %><br>
				Prefers to work in <%= jobseeker.pref_size %> company<br>
				Prefers to work  in <%= jobseeker.pref_hours %> hours<br>
				Has worked for companies in:
					<li><%= jobseeker.we1.name %></li>
					<li><%= jobseeker.we2.name %></li>
					<li><%= jobseeker.we3.name %></li>
				Knowledge Score: <%= jobseeker.knowledge_score %>%<br>
				Skill Score: <%= jobseeker.skill_score %>%<br>
				Activity Score: <%= jobseeker.activity_score %>%<br>
				<br>
				<div>
					Preview Profile (link to user profile) <br>
					Add to Interview Pool (action button)
				</div>
			</div>
			<br>
			<br>
			<br>
		<% end %>
	</div>
</div>

