<div style="background-color: yellow">
	<h3>NOTES FOR DEMONSTRATION</h3>
	<ol>
	</ol>
</div>

<div>
	Company: <%= @company.name %><br>
	Role: <%= @vacancy.name %><br>
	Description: <%= @vacancy.description %><br>
	Department: <%= @vacancy.department %><br>
	Quantity Needed: <%= @vacancy.quantity %><br>
</div>

<div>
	<h4>Well done. Now, build the right pool for this vacancy!</h4>
	<div>
		Search Tags
	</div>
	<div>
		List of candidates
	</div>
</div>

