<div style="background-color: yellow">
	<h3>NOTES FOR DEMONSTRATION</h3>
	<ol>
		<li>This is the main page. In normal day, this is the first page after recruiter login</li>
		<li>Recruiter can do 2 key things: 1)Set general filters for their companies and see who matched them 2)Create a specific vacancy</li>
	</ol>

</div>

<div>
	<h1>Get your perfect hire today!</h1>
</div>

<div>
	<h3>Company Profile</h3>
	<div>
		Name: <%= @company.name %><br>
		State: <%= @company.state.name %><br>
		Industry: <%= @company.industry.name %><br>
		Size: <%= @company.workforce_size %><br>
		Preference of talent work hours: <%= @company.work_hours %><br>
		Preference of talent strength: <%= @company.strength %><br>
	</div>
	<h4>(Tell us more HERE so we can find you better candidates! - link to add filters and update company profile)</h4>
</div>

<br>
<br>

<div>
	<h3>They matched your filters and want to work with you!</h3>
	<h4>(Search Filters - so they can  further search this list of profiles)</h4>
	<div>
		Profile of jobseeker 1 <br>
		Profile of jobseeker 2 <br>
		Profile of jobseeker 3 <br>
	</div>
</div>

<br>
<br>

<div style="border: 1px solid red; text-align: center;">
	<h3>CREATE A VACANCY!</h3>
</div>


<br>
<br>
<br>
<h6>companies#show. Main page for recruiter. This is where they see everything.</h6>