<!DOCTYPE html>
<html>
  <head>
    <title>Project K</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- From user authentication steps -->
    <% if current_recruiter %>
      Signed in as <%= current_recruiter.name %> | <%= link_to "Your Company", company_path(current_recruiter) %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/' %> | <%= link_to 'Signup', '/' %>
    <% end %>

    <%= yield %>
  </body>
</html>
